PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/apnose

JWT_ACCESS_SECRET=apnose_super_secure_jwt_access_secret_key_2026_x9281!
JWT_REFRESH_SECRET=apnose_super_secure_jwt_refresh_secret_key_2026_k1928#

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

UPLOAD_PROVIDER=local
UPLOAD_DIR=uploads
UPLOAD_MAX_FILE_SIZE_MB=10

OTP_PROVIDER=mock
OTP_API_KEY=mock_otp_key_2026
